<style type ='text/css'>
	body {
		width: auto;
		height: auto;
		background-color: #a87a48;
	}
	.main {
		padding-top: 5px;
	}
	h1 {
		color: #ff0000;
		text-align: center;
		font-family: 'Crimson Text', sans-serif; 
	}
	p {
		font-family: 'Work Sans', sans-serif;
		font-size: 20px;
		line-height: 1.4;
        color: #ff0000;
        background-color: #ffffff;
        text-align: center;
	}
	p.center {
		font-size: 16pt;
		text-align: center;
	}
	.contact hours {
		padding-left: 30px;
	}
    img {
        width:20%;
        height: auto;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        display: block;

    }
    .navMenu {
    	overflow: hidden;
    	position: fixed;
    	top: 0;
    	left: 0;
    	right: 0;
    	width: 100%;
    	padding-top: 5px;
    	padding-bottom: 5px;
    	background-color: #ff0000;
    }
    .navMenu a{
    	float: left;
    	color: #ffffff;
    	text-decoration: none;
    	font-size: 12pt;
    	font-family: 'Work Sans', sans-serif;
    	padding-right: 30px;
    	padding-left: 5px;
    }
    .navMenu a:hover {
    	text-decoration: underline;
    }
    .navMenu img {
        width:20px;
        height:20px;
        padding-left: 10px;
        padding-right: 10px;
        float:left;
    }
</style>
